<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Propelrs</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link rel="icon" href="/public/images/Propelr.jpg" type="image/jpg" />
</head>

<body>
  <%- include('../partials/navbar')%>
  <main class="">

    <%- include('../partials/flash')%>
    <%- body %>
    <%- include('../partials/chat')%>
    <%- include('../partials/cookies')%>
  </main>
  <%- include('../partials/footer')%>
</body>

</html>