<% layout('layouts/boilerplate') %>

<div class="container is-max-tablet mt-5">
  <div class="card">
    <div class="card-content has-text-centered">
      <figure class="image is-128x128 is-inline-block">
        <img src="<%= user.profilePicture && user.profilePicture.length > 0 ? user.profilePicture[0].url : defaultUserImg %>" alt="<%= user.username %>'s profile picture">
      </figure>
      <h1 class="title mt-4"><%= user.username %></h1>
      <p class="subtitle"><%= user.email %></p>
      <p>Account Type: <%= user.accountType %></p>
    </div>
  </div>


  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    const senderId = "<%= currentUser._id %>";
    const receiverId = "<%= user._id %>";

    socket.on('connect', () => {
      console.log('Socket connected');
    });

    socket.on('newMessage', (message) => {
      console.log('New message received:', message);
      const messagesContainer = document.getElementById('messages');
      const messageDiv = document.createElement('div');
      messageDiv.textContent = message.text;
      messagesContainer.appendChild(messageDiv);
    });

    document.getElementById('send-message').addEventListener('click', () => {
      const messageInput = document.getElementById('chat-input');
      const message = messageInput.value.trim();
      if (message) {
        socket.emit('newMessage', {
          sender: senderId,
          receiver: receiverId,
          text: message
        });
        messageInput.value = '';
      }
    });
  </script>