<% layout('layouts/boilerplate') %>
<div class="container is-max-tablet mb-6 mt-1">
  <form action="/feed/<%=feed._id%>?_method=PUT" method="POST">
    <div class="field">
      <label class="label">Item Name</label>
      <div class="control">
        <input class="input" type="text" name="itemName" value="<%= feed.itemName %>" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Price</label>
      <div class="control">
        <input class="input" type="number" name="price" value="<%= feed.price %>" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <textarea class="textarea" name="description" required><%= feed.description %></textarea>
      </div>
    </div>
    <div class="field">
      <label class="label">Tags (comma-separated)</label>
      <div class="control">
        <input class="input" type="text" name="tags" value="<%= feed.tags.join(',') %>">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-link" type="submit">Update Post</button>
      </div>
    </div>
  </form>
</div>